<div class="container-fluid bg-dark footer text-white mt-5 py-5 px-sm-3 px-md-5"
     style="background-image: url('images/footer.png'); background-size: cover; background-position: center;">
  <div class="row pt-5">
    <div class="col-lg-7 col-md-6">
      <div class="row">
        <div class="col-md-6 mb-5">
          <h3 class="text-primary mb-4">Get In Touch</h3>
          <p><i class="fa fa-map-marker-alt mr-2"></i>6 Le Thanh Ton, Ben Nghe, District 1, Ho Chi Minh City, Vietnam</p>
          <p><i class="fa fa-phone-alt mr-2"></i>0343770877</p>
          <p><i class="fa fa-envelope mr-2"></i>info@cjvietnam.vn</p>
          <div class="d-flex justify-content-start mt-4">
            <a class="btn btn-outline-light btn-social mr-2" href="https://twitter.com/cjlamerica" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="btn btn-outline-light btn-social mr-2" href="https://www.facebook.com/CJLogisticsglobal/" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-outline-light btn-social mr-2" href="https://www.linkedin.com/company/cj-logistics/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/cjlogisticsamerica/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <h3 class="text-primary mb-4">Company</h3>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white mb-2" href="https://www.cjlogistics.com/en/about/brand/message" target="_blank">
              <i class="fa fa-angle-right mr-2"></i>About
            </a>
            <a class="text-white mb-2" href="https://www.cjlogistics.com/en/about/brand/story" target="_blank">
              <i class="fa fa-angle-right mr-2"></i>Library
            </a>
            <a class="text-white mb-2" href="https://www.cjlogistics.com/en/about/sponsorship/motorsports" target="_blank">
              <i class="fa fa-angle-right mr-2"></i>Sponsorship
            </a>
            <a class="text-white mb-2" href="https://www.cjlogistics.com/en/page/investment/composition" target="_blank">
              <i class="fa fa-angle-right mr-2"></i>Investor Relations
            </a>
            <a class="text-white" href="https://www.cjlogistics.com/en/about/sponsorship/motorsports" target="_blank">
              <i class="fa fa-angle-right mr-2"></i>Recruitment
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 mb-5">
      <h3 class="text-primary mb-4">Newsletter</h3>
      <p>
        Enter your email address to subscribe our notification of our new post & features by email. We don't sent spam!
      </p>
      <div class="w-100">
        <div class="input-group">
          <input type="email"
                 class="form-control border-light"
                 style="padding: 30px;"
                 placeholder="Your Email Address..."
                 required="required"
                 @bind="Email">
          <div class="input-group-append">
            <button class="btn btn-primary px-4" @onclick="SaveEmailAsync">
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
