<div class="container-fluid bg-dark">
  <div class="row py-2 px-lg-5">
    <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
      <div class="d-inline-flex align-items-center text-white">
        <small><i class="fa fa-phone-alt mr-2"></i>0343770877</small>
        <small class="px-3">|</small>
        <small><i class="fa fa-envelope mr-2"></i>info@cjvietnam.vn</small>
      </div>
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <div class="d-inline-flex align-items-center">
        <a class="text-white px-2" href="https://www.facebook.com/CJLogisticsglobal/" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="text-white px-2" href="https://twitter.com/cjlamerica" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="text-white px-2" href="https://www.linkedin.com/company/cj-logistics/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="text-white px-2" href="https://www.instagram.com/cjlogisticsamerica/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
    <a href="/" class="navbar-brand ml-lg-3">
      <h1 class="m-0 display-5 text-uppercase text-primary">
        <img loading="lazy" src="images/logo.png" height="70px" alt="CJ Logo"/>
      </h1>
    </a>
    <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
      <div class="navbar-nav m-auto py-0">
        <a href="/" class="nav-item nav-link">Home</a>
        <a href="/about" class="nav-item nav-link">About</a>
        <a href="/service" class="nav-item nav-link">Service</a>
        <a href="/contact" class="nav-item nav-link">Contact</a>
      </div>
    </div>
  </nav>
</div>
