@inherits LayoutComponentBase

<PageTitle>"Profio Application"</PageTitle>

<CascadingValue Value="this">
    <NavMenu />
      <main class="container px-6 max-w-6xl mx-auto py-12">
        @Body
      </main>
    <Footer />
</CascadingValue>
