:root {
  --ifm-color-primary: #5b99e2;
  --ifm-color-primary-dark: #3770b2;
  --ifm-color-primary-darker: #1b4b81;
  --ifm-color-primary-darkest: #092545;
  --ifm-color-primary-light: #6ca8eb;
  --ifm-color-primary-lighter: #8ca8eb;
  --ifm-color-primary-lightest: #a0c5ef;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

.hero {
  background-image: url('/img/banner.png');
}

.card {
  border: 1px solid #e3dbdb;
  box-shadow: none;
  border-radius: 5px;
  text-decoration: none !important;
  color: whitesmoke;
  background-color: #242526;
}

.card__description {
  font-size: 14px;
}

.page__section {
  border-top: 1px solid var(--ifm-color-emphasis-200);
  width: 100%;
  padding: 40px 10px 40px;
}
