@page "/"

<PageTitle>Home page</PageTitle>

<div class="jumbotron jumbotron-fluid mb-5">
  <div class="container text-center py-5">
    <h1 class="text-primary mb-4">Profio</h1>
    <h1 class="text-white display-3 mb-5">Logistics Services</h1>
    <div class="mx-auto" style="width: 100%; max-width: 600px;">
      <div class="input-group">
        <input type="tel"
               class="form-control border-light"
               style="padding: 30px;"
               placeholder="Enter your phone number..."
               required
               @bind-value="PhoneNumber">
        <div class="input-group-append">
          <button class="btn btn-primary px-3" @onclick="Find">Track & Trace</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 pb-4 pb-lg-0">
        <img class="img-fluid w-100" src="/images/about.png" alt="About">
        <div class="bg-primary text-dark text-center p-4">
          <h3 class="m-0">Since 1930</h3>
        </div>
      </div>
      <div class="col-lg-7">
        <h6 class="text-primary text-uppercase font-weight-bold">About Us</h6>
        <h1 class="mb-4">CJ Logistics Vietnam</h1>
        <p class="mb-4" align="justify">
          CJ Logistics Vietnam is a member of CJ Group, a leading conglomerate in South Korea. CJ Logistics Vietnam is a leading logistics service provider in Vietnam with a nationwide network. We provide integrated logistics services including international freight forwarding, warehousing and distribution, domestic transportation, express and parcel delivery, and supply chain consulting.
        </p>
        <div class="d-flex align-items-center pt-2">
          <button type="button" class="btn-play" data-toggle="modal"
                  data-src="https://www.youtube.com/embed/dTUz6XrlvFg" data-target="#videoModal">
            <span></span>
          </button>
          <h5 class="font-weight-bold m-0 ml-4">Play Video</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dTUz6XrlvFg" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-xxl py-5">
  <div class="container py-5">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="text-primary text-uppercase">Our Services</h6>
      <h1 class="mb-5">Explore Our Services</h1>
    </div>
    <div class="row g-4">
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item p-4">
          <div class="overflow-hidden mb-4">
            <img loading="lazy" class="img-fluid" src="images/service-1.jpg" alt="Air Freight">
          </div>
          <h4 class="mb-3">Air Freight</h4>
          <p>
            We provide comprehensive logistics solutions for air freight services
          </p>
          <a class="btn-slide mt-2" href="">
            <i class="fa fa-arrow-right"></i><span> Read More</span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item p-4">
          <div class="overflow-hidden mb-4">
            <img loading="lazy" class="img-fluid" src="images/service-2.jpg" alt="Ocean Freight">
          </div>
          <h4 class="mb-3">Ocean Freight</h4>
          <p>
            We provide full logistics services, from global freight to supply chain
          </p>
          <a class="btn-slide mt-2" href="">
            <i class="fa fa-arrow-right"></i><span> Read More</span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
        <div class="service-item p-4">
          <div class="overflow-hidden mb-4">
            <img loading="lazy" class="img-fluid" src="images/service-3.jpg" alt="Road Freight">
          </div>
          <h4 class="mb-3">Road Freight</h4>
          <p>
            We're experts in logistics and supply chain, offering global freight
          </p>
          <a class="btn-slide mt-2" href="">
            <i class="fa fa-arrow-right"></i><span> Read More</span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item p-4">
          <div class="overflow-hidden mb-4">
            <img loading="lazy" class="img-fluid" src="images/service-4.jpg" alt="Train Freight">
          </div>
          <h4 class="mb-3">Train Freight</h4>
          <p>
            We provide comprehensive logistics solutions for train freight services
          </p>
          <a class="btn-slide mt-2" href="">
            <i class="fa fa-arrow-right"></i><span> Read More</span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item p-4">
          <div class="overflow-hidden mb-4">
            <img loading="lazy" class="img-fluid" src="images/service-5.jpg" alt="Customs Clearance">
          </div>
          <h4 class="mb-3">Customs Clearance</h4>
          <p>
            With our customs expertise, we can help you with the border controls
          </p>
          <a class="btn-slide mt-2" href="">
            <i class="fa fa-arrow-right"></i><span> Read More</span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
        <div class="service-item p-4">
          <div class="overflow-hidden mb-4">
            <img loading="lazy" class="img-fluid" src="images/service-6.jpg" alt="Warehouse Solutions">
          </div>
          <h4 class="mb-3">Warehouse Solutions</h4>
          <p>
            Count on us for worldwide logistics, including freight and supply chain
          </p>
          <a class="btn-slide mt-2" href="">
            <i class="fa fa-arrow-right"></i><span> Read More</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-secondary my-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img loading="lazy" class="img-fluid w-100" src="images/feature.jpg" alt="Feature">
      </div>
      <div class="col-lg-7 py-5 py-lg-0">
        <h6 class="text-primary text-uppercase font-weight-bold">Why Choose Us</h6>
        <h1 class="mb-4">Faster, Safe and Trusted Logistics Services</h1>
        <p class="mb-4">
          With choosing CJ Logistic, you will be served with the best services from our professional team. We are committed to providing the best services to our customers.
        </p>
        <ul class="list-inline">
          <li>
            <h6><i class="far fa-dot-circle text-primary mr-3"></i>Best In Industry</h6>
          </li>
          <li>
            <h6><i class="far fa-dot-circle text-primary mr-3"></i>Emergency Services</h6>
          </li>
          <li>
            <h6><i class="far fa-dot-circle text-primary mr-3"></i>24/7 Customer Support</h6>
          </li>
        </ul>
        <a href="" class="btn btn-primary mt-3 py-2 px-4">Learn More</a>
      </div>
    </div>
  </div>
</div>
