@page "/service"

<PageTitle>Service</PageTitle>

<div class="jumbotron jumbotron-fluid mb-5">
  <div class="container text-center py-5">
    <h1 class="text-white display-3">Service</h1>
    <div class="d-inline-flex align-items-center text-white">
      <p class="m-0">
        <a class="text-white" href="/">Home</a>
      </p>
      <i class="fa fa-circle px-3"></i>
      <p class="m-0">Service</p>
    </div>
  </div>
</div>

<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <h6 class="text-primary text-uppercase font-weight-bold">Our Services</h6>
      <h1 class="mb-4">Best Logistic Services</h1>
    </div>
    <div class="row pb-3">
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
          <i class="fa fa-2x fa-plane text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0">Air Freight</h6>
        </div>
        <p>
          We provide comprehensive logistics solutions for air freight services
        </p>
        <a class="border-bottom text-decoration-none" href="">Read More</a>
      </div>
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
          <i class="fa fa-2x fa-ship text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0">Ocean Freight</h6>
        </div>
        <p>
          We provide full logistics services, from global freight to supply chain consulting
        </p>
        <a class="border-bottom text-decoration-none" href="">Read More</a>
      </div>
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
          <i class="fa fa-2x fa-truck text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0">Land Transport</h6>
        </div>
        <p>
          We're experts in logistics and supply chain, offering global freight and consulting
        </p>
        <a class="border-bottom text-decoration-none" href="">Read More</a>
      </div>
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
          <i class="fa fa-2x fa-store text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0">Cargo Storage</h6>
        </div>
        <p>
          Count on us for worldwide logistics, including freight and supply chain consulting
        </p>
        <a class="border-bottom text-decoration-none" href="">Read More</a>
      </div>
    </div>
    <img loading="lazy" src="images/business.png" class="w-100" alt="service" />
  </div>
</div>

<div class="container-fluid bg-secondary my-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 py-5 py-lg-0">
        <h6 class="text-primary text-uppercase font-weight-bold">Get A Quote</h6>
        <h1 class="mb-4">Request A Free Quote</h1>
        <p class="mb-4">
          We provide full logistics services, from global freight forwarding to supply chain consulting. Count on us for worldwide logistics, including freight forwarding, customs brokerage, compliance consultancy, cargo insurance and more.
        </p>
        <div class="row">
          <div class="col-sm-4">
            <h1 class="text-primary mb-2" data-toggle="counter-up">36</h1>
            <h6 class="font-weight-bold mb-4">Countries</h6>
          </div>
          <div class="col-sm-4">
            <h1 class="text-primary mb-2" data-toggle="counter-up">161</h1>
            <h6 class="font-weight-bold mb-4">Cities</h6>
          </div>
          <div class="col-sm-4">
            <h1 class="text-primary mb-2" data-toggle="counter-up">249</h1>
            <h6 class="font-weight-bold mb-4">Hubs</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="bg-primary py-5 px-4 px-sm-5">
          <form class="py-5">
            <div class="form-group">
              <input type="text" class="form-control border-0 p-4" placeholder="Your Name" required="required"/>
            </div>
            <div class="form-group">
              <input type="email" class="form-control border-0 p-4" placeholder="Your Email" required="required"/>
            </div>
            <div class="form-group">
              <select class="custom-select border-0 px-4" style="height: 47px;">
                <option selected>Select A Service</option>
                <option value="1">Air Freight</option>
                <option value="2">Ocean Freight</option>
                <option value="3">Land Transport</option>
                <option value="3">Cargo Storage</option>
              </select>
            </div>
            <div>
              <button class="btn btn-dark btn-block border-0 py-3" type="submit">Get A Quote</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="container">
    <div class="text-center pb-2">
      <h6 class="text-primary text-uppercase font-weight-bold">Network</h6>
      <h1 class="mb-4">Our Global Network</h1>
    </div>
    <div class="pb-3">
        <video width="100%" autoplay loop muted>
          <source src="videos/network.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
    </div>
  </div>
</div>
