@page "/"

<PageTitle>Home page</PageTitle>

<div class="container-fluid py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 pb-4 pb-lg-0">
        <img class="img-fluid w-100" src="/images/about.png" alt="About">
        <div class="bg-primary text-dark text-center p-4">
          <h3 class="m-0">Since 1930</h3>
        </div>
      </div>
      <div class="col-lg-7">
        <h6 class="text-primary text-uppercase font-weight-bold">About Us</h6>
        <h1 class="mb-4">CJ Logistics Vietnam</h1>
        <p class="mb-4" align="justify">
          CJ Logistics Vietnam is a member of CJ Group, a leading conglomerate in South Korea. CJ Logistics Vietnam is a leading logistics service provider in Vietnam with a nationwide network. We provide integrated logistics services including international freight forwarding, warehousing and distribution, domestic transportation, express and parcel delivery, and supply chain consulting.
        </p>
        <div class="d-flex align-items-center pt-2">
          <button type="button" class="btn-play" data-toggle="modal"
                  data-src="https://www.youtube.com/watch?v=dTUz6XrlvFg" data-target="#videoModal">
            <span></span>
          </button>
          <h5 class="font-weight-bold m-0 ml-4">Play Video</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <h6 class="text-primary text-uppercase font-weight-bold">Our Services</h6>
      <h1 class="mb-4">Best Logistic Services</h1>
    </div>
    <div class="row pb-3">
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
          <i class="fa fa-2x fa-plane text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0">Air Freight</h6>
        </div>
        <p>
          We provide comprehensive logistics solutions for air freight services
        </p>
        <a class="border-bottom text-decoration-none" href="">Read More</a>
      </div>
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
          <i class="fa fa-2x fa-ship text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0">Ocean Freight</h6>
        </div>
        <p>
          We provide full logistics services, from global freight to supply chain consulting
        </p>
        <a class="border-bottom text-decoration-none" href="">Read More</a>
      </div>
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
          <i class="fa fa-2x fa-truck text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0">Land Transport</h6>
        </div>
        <p>
          We're experts in logistics and supply chain, offering global freight and consulting
        </p>
        <a class="border-bottom text-decoration-none" href="">Read More</a>
      </div>
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
          <i class="fa fa-2x fa-store text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0">Cargo Storage</h6>
        </div>
        <p>
          Count on us for worldwide logistics, including freight and supply chain consulting
        </p>
        <a class="border-bottom text-decoration-none" href="">Read More</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-secondary my-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img loading="lazy" class="img-fluid w-100" src="images/feature.jpg" alt="Feature">
      </div>
      <div class="col-lg-7 py-5 py-lg-0">
        <h6 class="text-primary text-uppercase font-weight-bold">Why Choose Us</h6>
        <h1 class="mb-4">Faster, Safe and Trusted Logistics Services</h1>
        <p class="mb-4">
          With choosing CJ Logistic, you will be served with the best services from our professional team. We are committed to providing the best services to our customers.
        </p>
        <ul class="list-inline">
          <li>
            <h6><i class="far fa-dot-circle text-primary mr-3"></i>Best In Industry</h6>
          </li>
          <li>
            <h6><i class="far fa-dot-circle text-primary mr-3"></i>Emergency Services</h6>
          </li>
          <li>
            <h6><i class="far fa-dot-circle text-primary mr-3"></i>24/7 Customer Support</h6>
          </li>
        </ul>
        <a href="" class="btn btn-primary mt-3 py-2 px-4">Learn More</a>
      </div>
    </div>
  </div>
</div>

<!-- Pricing Plan Start -->
<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <h6 class="text-primary text-uppercase font-weight-bold">Pricing Plan</h6>
      <h1 class="mb-4">Affordable Pricing Packages</h1>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="bg-secondary">
          <div class="text-center p-4">
            <h1 class="display-4 mb-0">
              <small class="align-top text-muted font-weight-medium" style="font-size: 22px; line-height: 45px;">$</small>49<small class="align-bottom text-muted font-weight-medium" style="font-size: 16px; line-height: 40px;">/Mo</small>
            </h1>
          </div>
          <div class="bg-primary text-center p-4">
            <h3 class="m-0">Basic</h3>
          </div>
          <div class="d-flex flex-column align-items-center py-4">
            <p>HTML5 & CSS3</p>
            <p>Bootstrap 4</p>
            <p>Responsive Layout</p>
            <p>Compatible With All Browsers</p>
            <a href="" class="btn btn-primary py-2 px-4 my-2">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="bg-secondary">
          <div class="text-center p-4">
            <h1 class="display-4 mb-0">
              <small class="align-top text-muted font-weight-medium" style="font-size: 22px; line-height: 45px;">$</small>99<small class="align-bottom text-muted font-weight-medium" style="font-size: 16px; line-height: 40px;">/Mo</small>
            </h1>
          </div>
          <div class="bg-primary text-center p-4">
            <h3 class="m-0">Premium</h3>
          </div>
          <div class="d-flex flex-column align-items-center py-4">
            <p>HTML5 & CSS3</p>
            <p>Bootstrap 4</p>
            <p>Responsive Layout</p>
            <p>Compatible With All Browsers</p>
            <a href="" class="btn btn-primary py-2 px-4 my-2">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="bg-secondary">
          <div class="text-center p-4">
            <h1 class="display-4 mb-0">
              <small class="align-top text-muted font-weight-medium" style="font-size: 22px; line-height: 45px;">$</small>149<small class="align-bottom text-muted font-weight-medium" style="font-size: 16px; line-height: 40px;">/Mo</small>
            </h1>
          </div>
          <div class="bg-primary text-center p-4">
            <h3 class="m-0">Business</h3>
          </div>
          <div class="d-flex flex-column align-items-center py-4">
            <p>HTML5 & CSS3</p>
            <p>Bootstrap 4</p>
            <p>Responsive Layout</p>
            <p>Compatible With All Browsers</p>
            <a href="" class="btn btn-primary py-2 px-4 my-2">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pricing Plan End -->


<!-- Team Start -->
<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <h6 class="text-primary text-uppercase font-weight-bold">Delivery Team</h6>
      <h1 class="mb-4">Meet Our Delivery Team</h1>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="team card position-relative overflow-hidden border-0 mb-5">
          <img class="card-img-top" src="img/team-1.jpg" alt="">
          <div class="card-body text-center p-0">
            <div class="team-text d-flex flex-column justify-content-center bg-secondary">
              <h5 class="font-weight-bold">Full Name</h5>
              <span>Designation</span>
            </div>
            <div class="team-social d-flex align-items-center justify-content-center bg-primary">
              <a class="btn btn-outline-dark btn-social mr-2" href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="btn btn-outline-dark btn-social mr-2" href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="btn btn-outline-dark btn-social mr-2" href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a class="btn btn-outline-dark btn-social" href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team card position-relative overflow-hidden border-0 mb-5">
          <img class="card-img-top" src="img/team-2.jpg" alt="">
          <div class="card-body text-center p-0">
            <div class="team-text d-flex flex-column justify-content-center bg-secondary">
              <h5 class="font-weight-bold">Full Name</h5>
              <span>Designation</span>
            </div>
            <div class="team-social d-flex align-items-center justify-content-center bg-primary">
              <a class="btn btn-outline-dark btn-social mr-2" href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="btn btn-outline-dark btn-social mr-2" href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="btn btn-outline-dark btn-social mr-2" href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a class="btn btn-outline-dark btn-social" href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team card position-relative overflow-hidden border-0 mb-5">
          <img class="card-img-top" src="img/team-3.jpg" alt="">
          <div class="card-body text-center p-0">
            <div class="team-text d-flex flex-column justify-content-center bg-secondary">
              <h5 class="font-weight-bold">Full Name</h5>
              <span>Designation</span>
            </div>
            <div class="team-social d-flex align-items-center justify-content-center bg-primary">
              <a class="btn btn-outline-dark btn-social mr-2" href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="btn btn-outline-dark btn-social mr-2" href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="btn btn-outline-dark btn-social mr-2" href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a class="btn btn-outline-dark btn-social" href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team card position-relative overflow-hidden border-0 mb-5">
          <img class="card-img-top" src="img/team-4.jpg" alt="">
          <div class="card-body text-center p-0">
            <div class="team-text d-flex flex-column justify-content-center bg-secondary">
              <h5 class="font-weight-bold">Full Name</h5>
              <span>Designation</span>
            </div>
            <div class="team-social d-flex align-items-center justify-content-center bg-primary">
              <a class="btn btn-outline-dark btn-social mr-2" href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="btn btn-outline-dark btn-social mr-2" href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="btn btn-outline-dark btn-social mr-2" href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a class="btn btn-outline-dark btn-social" href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="text-center pb-2">
      <h6 class="text-primary text-uppercase font-weight-bold">Testimonial</h6>
      <h1 class="mb-4">Our Clients Say</h1>
    </div>
    <div class="owl-carousel testimonial-carousel">
      <div class="position-relative bg-secondary p-4">
        <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
        <div class="d-flex align-items-center mb-3">
          <img class="img-fluid rounded-circle" src="img/testimonial-1.jpg" style="width: 60px; height: 60px;" alt="">
          <div class="ml-3">
            <h6 class="font-weight-semi-bold m-0">Client Name</h6>
            <small>- Profession</small>
          </div>
        </div>
        <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr clita lorem. Dolor ipsum sanct clita</p>
      </div>
      <div class="position-relative bg-secondary p-4">
        <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
        <div class="d-flex align-items-center mb-3">
          <img class="img-fluid rounded-circle" src="img/testimonial-2.jpg" style="width: 60px; height: 60px;" alt="">
          <div class="ml-3">
            <h6 class="font-weight-semi-bold m-0">Client Name</h6>
            <small>- Profession</small>
          </div>
        </div>
        <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr clita lorem. Dolor ipsum sanct clita</p>
      </div>
      <div class="position-relative bg-secondary p-4">
        <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
        <div class="d-flex align-items-center mb-3">
          <img class="img-fluid rounded-circle" src="img/testimonial-3.jpg" style="width: 60px; height: 60px;" alt="">
          <div class="ml-3">
            <h6 class="font-weight-semi-bold m-0">Client Name</h6>
            <small>- Profession</small>
          </div>
        </div>
        <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr clita lorem. Dolor ipsum sanct clita</p>
      </div>
      <div class="position-relative bg-secondary p-4">
        <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
        <div class="d-flex align-items-center mb-3">
          <img class="img-fluid rounded-circle" src="img/testimonial-4.jpg" style="width: 60px; height: 60px;" alt="">
          <div class="ml-3">
            <h6 class="font-weight-semi-bold m-0">Client Name</h6>
            <small>- Profession</small>
          </div>
        </div>
        <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr clita lorem. Dolor ipsum sanct clita</p>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->


<!-- Blog Start -->
<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <h6 class="text-primary text-uppercase font-weight-bold">Our Blog</h6>
      <h1 class="mb-4">Latest From Blog</h1>
    </div>
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="position-relative">
          <img class="img-fluid w-100" src="img/blog-1.jpg" alt="">
          <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
               style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
            <h4 class="font-weight-bold mb-n1">01</h4>
            <small class="text-white text-uppercase">Jan</small>
          </div>
        </div>
        <div class="bg-secondary" style="padding: 30px;">
          <div class="d-flex mb-3">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" style="width: 40px; height: 40px;" src="img/user.jpg" alt="">
              <a class="text-muted ml-2" href="">John Doe</a>
            </div>
            <div class="d-flex align-items-center ml-4">
              <i class="far fa-bookmark text-primary"></i>
              <a class="text-muted ml-2" href="">Web Design</a>
            </div>
          </div>
          <h4 class="font-weight-bold mb-3">Kasd tempor diam sea justo dolor</h4>
          <p>Dolor sea ipsum ipsum et. Erat duo lorem magna vero dolor dolores. Rebum eirmod no dolor diam dolor amet ipsum. Lorem lorem sea sed diam est lorem magna</p>
          <a class="border-bottom border-primary text-uppercase text-decoration-none" href="">Read More <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="position-relative">
          <img class="img-fluid w-100" src="img/blog-2.jpg" alt="">
          <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
               style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
            <h4 class="font-weight-bold mb-n1">01</h4>
            <small class="text-white text-uppercase">Jan</small>
          </div>
        </div>
        <div class="bg-secondary" style="padding: 30px;">
          <div class="d-flex mb-3">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" style="width: 40px; height: 40px;" src="img/user.jpg" alt="">
              <a class="text-muted ml-2" href="">John Doe</a>
            </div>
            <div class="d-flex align-items-center ml-4">
              <i class="far fa-bookmark text-primary"></i>
              <a class="text-muted ml-2" href="">Web Design</a>
            </div>
          </div>
          <h4 class="font-weight-bold mb-3">Kasd tempor diam sea justo dolor</h4>
          <p>Dolor sea ipsum ipsum et. Erat duo lorem magna vero dolor dolores. Rebum eirmod no dolor diam dolor amet ipsum. Lorem lorem sea sed diam est lorem magna</p>
          <a class="border-bottom border-primary text-uppercase text-decoration-none" href="">Read More <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog End -->
