@page "/"

<PageTitle>Home page</PageTitle>

<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-primary mb-4">Profio</h1>
        <h1 class="text-white display-3 mb-5">Logistics Services</h1>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <div class="input-group">
                <input type="tel"
                       class="form-control border-light"
                       style="padding: 30px;"
                       placeholder="Enter your phone number..."
                       required>
                <div class="input-group-append">
                    <button class="btn btn-primary px-3">Track & Trace</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 pb-4 pb-lg-0">
        <img class="img-fluid w-100" src="/images/about.png" alt="About">
        <div class="bg-primary text-dark text-center p-4">
          <h3 class="m-0">Since 1930</h3>
        </div>
      </div>
      <div class="col-lg-7">
        <h6 class="text-primary text-uppercase font-weight-bold">About Us</h6>
        <h1 class="mb-4">CJ Logistics Vietnam</h1>
        <p class="mb-4" align="justify">
          CJ Logistics Vietnam is a member of CJ Group, a leading conglomerate in South Korea. CJ Logistics Vietnam is a leading logistics service provider in Vietnam with a nationwide network. We provide integrated logistics services including international freight forwarding, warehousing and distribution, domestic transportation, express and parcel delivery, and supply chain consulting.
        </p>
        <div class="d-flex align-items-center pt-2">
          <button type="button" class="btn-play" data-toggle="modal"
                  data-src="https://www.youtube.com/watch?v=dTUz6XrlvFg" data-target="#videoModal">
            <span></span>
          </button>
          <h5 class="font-weight-bold m-0 ml-4">Play Video</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <h6 class="text-primary text-uppercase font-weight-bold">Our Services</h6>
      <h1 class="mb-4">Best Logistic Services</h1>
    </div>
    <div class="row pb-3">
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
          <i class="fa fa-2x fa-plane text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0">Air Freight</h6>
        </div>
        <p>
          We provide comprehensive logistics solutions for air freight services
        </p>
        <a class="border-bottom text-decoration-none" href="">Read More</a>
      </div>
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
          <i class="fa fa-2x fa-ship text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0">Ocean Freight</h6>
        </div>
        <p>
          We provide full logistics services, from global freight to supply chain consulting
        </p>
        <a class="border-bottom text-decoration-none" href="">Read More</a>
      </div>
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
          <i class="fa fa-2x fa-truck text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0">Land Transport</h6>
        </div>
        <p>
          We're experts in logistics and supply chain, offering global freight and consulting
        </p>
        <a class="border-bottom text-decoration-none" href="">Read More</a>
      </div>
      <div class="col-lg-3 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
          <i class="fa fa-2x fa-store text-dark pr-3"></i>
          <h6 class="text-white font-weight-medium m-0">Cargo Storage</h6>
        </div>
        <p>
          Count on us for worldwide logistics, including freight and supply chain consulting
        </p>
        <a class="border-bottom text-decoration-none" href="">Read More</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-secondary my-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img loading="lazy" class="img-fluid w-100" src="images/feature.jpg" alt="Feature">
      </div>
      <div class="col-lg-7 py-5 py-lg-0">
        <h6 class="text-primary text-uppercase font-weight-bold">Why Choose Us</h6>
        <h1 class="mb-4">Faster, Safe and Trusted Logistics Services</h1>
        <p class="mb-4">
          With choosing CJ Logistic, you will be served with the best services from our professional team. We are committed to providing the best services to our customers.
        </p>
        <ul class="list-inline">
          <li>
            <h6><i class="far fa-dot-circle text-primary mr-3"></i>Best In Industry</h6>
          </li>
          <li>
            <h6><i class="far fa-dot-circle text-primary mr-3"></i>Emergency Services</h6>
          </li>
          <li>
            <h6><i class="far fa-dot-circle text-primary mr-3"></i>24/7 Customer Support</h6>
          </li>
        </ul>
        <a href="" class="btn btn-primary mt-3 py-2 px-4">Learn More</a>
      </div>
    </div>
  </div>
</div>
