version: '2'
services:
  # Collector
  otel-collector:
    image: otel/opentelemetry-collector-contrib-dev:latest
    container_name: opentelemetry-collector
    restart: always
    command: ['--config=/etc/otel-collector-config.yaml']
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - '8888:8888' # Prometheus metrics exposed by the collector
      - '8889:8889' # Prometheus exporter metrics
      - '13133:13133' # health_check extension
      - '4317:4317' # OTLP gRPC receiver
      - '55679:55679' # zpages extension
    depends_on:
      - jaeger-all-in-one

  # Grafana
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always
    ports:
      - '3000:3000'
    networks:
      - profio-bridge

  # Jaeger
  jaeger-all-in-one:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger-all-in-one
    restart: always
    ports:
      - '16686:16686'
      - '14268'
      - '14250'
    networks:
      - profio-bridge

  # Prometheus
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yml
    environment:
      - TZ=Asia/Ho_Chi_Minh
    ports:
      - '9090:9090'
    networks:
      - profio-bridge

  # seq
  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: on-failure
    ports:
      - '5341:80'
    environment:
      - ACCEPT_EULA=Y
    networks:
      - profio-bridge

  # portainer
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    ports:
      - 9443:9443
    volumes:
      - data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - profio-bridge

networks:
  profio-bridge:
    driver: bridge

volumes:
  data:
