name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3
      - run: npm ci -f

      - run: npx nx format:check
      - run: npx nx affected -t lint --parallel=3 --exclude=components/k8s/**
      - run: npx nx affected -t test --parallel=3 --exclude=components/k8s/**
      - run: npx nx affected -t build --parallel=3 --exclude=components/k8s/**
