name: Deploy Docs to gh-pages

on:
  push:
    branches:
      - main # Change this to your main branch name

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14

    - name: Install Dependencies
      run: npm install -f

    - name: Build Docs
      run: npx nx build docs --verbose

    - name: Deploy to gh-pages
      run: |
        git config --global user.email "github-actions@github.com"
        git config --global user.name "GitHub Actions"
        git add dist/apps/docs -f
        git commit -m "Deployed docs to gh-pages"

    - name: Push to gh-pages
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages

    - name: Cleanup
      run: rm -rf dist
